@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primaria: #771144;
    --secundaria: #951555;
    --black: #1E0411;
    --off-white: #FDF0F6;
    --fonte-principal: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal)
}

main {
   display: flex; 
   flex-direction: column;
   background-color: var(--off-white);
}

.carousel-inner img {
  height: 50rem; 
  width: auto;  
  object-fit: cover;
}

.carousel-caption-custom {
  position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      z-index: 10;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg);
}

.botao-carousel {
  width: 200px;
  background-color: var(--primaria);     
  color: var(--off-white);
  border-radius: 50px;           
  transition: all 0.3s ease;
}

.botao-carousel:hover {
  background-color: var(--black);     
  color: var(--off-white);
  font-weight: bold;
}